<h1>Activity Manager</h1>
<ol>
  {{#each offertedActivities}}
    <li>{{this.description}}</li>
  {{/each}}
</ol>
<ol>
  {{#each demandedActivities}}
    <li>{{this.description}}</li>
  {{/each}}
</ol>