<form id="filtreProva">
  Sector
  <input type="text" name="sector" id="sector">
  Subsector
  <input type="text" name="subsector" id="subsector">
  {{!-- Distance
  <input type="text" name="distance" id="distance"> --}}
  <button type="button" id="submit">Filtrar</button>
</form>

<form id="aplicarActivitat">
  Id d'Activitat
  <input type="text" name="activity" id="activity">
  {{!-- Distance
  <input type="text" name="distance" id="distance"> --}}
  <button type="button" id="aplicar">Aplicar</button>
</form>

<ol id="results">
</ol>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/main.js"></script>