html {
  /* font-size: 1rem; */
  /* line-height: 1.25; */
  /* amb aixo desactivem el scroll horitzontal*/
  overflow-x: hidden; 
  width: 100%;
  height: 100%;
  /* font-size: 62.5%; tots els browsers tenen per defecte un font-size de 16px. Posant 62.5%, ho estem passant a 10px, i per tant els rem units seran multiples de 10 */
  
  /* margin: 0;
  font-family: "Montserrat-Light","Montserrat-Medium";
  letter-spacing: 2.2px; */
  background-color: white;
}

/* Estem posant el tamany de referencia en funció del media query */

h1 {font-size: 1.6rem;}
h2 {font-size: 1.4rem;}
h3 {font-size: 1.2rem;}
h4 {font-size: 1rem;}
h5 {font-size: 0.8rem;}
h6 {font-size: 0.6rem;}

#icon-menu {
    color: white;
}

.menu-text {
font-size: 0.8rem;
font-family: Arial, Helvetica, sans-serif;
color: blue;
padding: 20px 0 20px 20px;
margin: 20px 0 20px 20px;
}

#footer-search-page {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.dropdown-toggle::after
{
  content: none;
}

.dropdown
{
  padding: 20px 0 20px 40px;
}
.login
{
  padding: 20px 40px;
  text-align: right;
  align-self: flex-end;
  color: white;
}

/* index */
#navbar-main
{
  background-color: #2a3b43;
}
#text-banc
{
  background-image: url("/images/background2.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.header.container-fluid
{
  position: relative;
}
.header.container-fluid h1
{
  /* font-family: 'Alegreya Sans SC', sans-serif; */
  font-family: 'Berkshire Swash', cursive;
  /* font-family: 'Aclonica', sans-serif; */
  /* font-family: 'Meddon', cursive; */
  /* font-family: 'Rubik Mono One', sans-serif;  */
  font-size: 100px;
  color: white;
}
#text-banc h2
{
  color: white;
  /* font-family: 'Alegreya Sans SC', sans-serif; */
  font-family: 'Berkshire Swash', cursive;
  /* font-family: 'Aclonica', sans-serif; */
  /* font-family: 'Meddon', cursive; */
  /* font-family: 'Rubik Mono One', sans-serif;  */
}
#footer-main-page
{
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#footer-main-page button
{
  color: white;
  background-color: transparent;
  width: 100%;
  text-align: center;
}
#search-form
{
  background-color: #567383;
  padding: 70px 0;
  color: white;
}
#search-form i
{
  color: white;
}

#filter
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.form-group
{
  margin: 0 20px;
  width: 20%;
}
.form-group input
{
}
.form-group label
{
  position: relative;
  top: 10px;
}
#submit
{
  -webkit-appearance:none;
  background-color: transparent;
  border-width: 0px;
  position: relative;
}
/* results */
#results
{
  list-style-type: none;
  padding: 50px 200px; 
}
#results li
{
  border-bottom: 3px #567383 solid;
  padding: 50px;
  margin-bottom: 10px;
}
#results li .btn-outline-info
{
  margin-right: 20px;
}
/* modal login */
.user-login-box .form-group
{
  width: auto;
  margin-bottom: 20px;
}
.user-login-box form button
{
  display: block;
  margin-left: auto;
}
/* modal results */
#results .modal-content .modal-body ul
{
  list-style-type: none;
}
#results .modal-content .modal-body ul li
{
  padding: 0;
  margin: 0 0 0 0;
  border-bottom: 0px solid transparent;
}
#results .modal-content .modal-body ul li.description
{
  font-weight: bolder;
  font-size: 26px;
}
.right-container
{
  text-align: right;
}
/* edit profile */
#editProfile
{
  padding: 40px 200px;
}
#editProfile h1
{
  margin-bottom: 60px;
}
.editProfile .form-group, #editProfile .address-group
{
  width: auto;
  margin-bottom: 20px;
}
.editProfile .label-address
{
  font-weight: bolder;
  margin-bottom: 30px;
}
/* signup */
#signUp
{
  padding: 40px 200px;
}
#signUp h1
{
  margin-bottom: 60px;
}
.signUp .form-group, #signUp .address-group
{
  width: auto;
  margin-bottom: 20px;
}
.signUp .label-address
{
  font-weight: bolder;
  margin-bottom: 30px;
}

/* Definim aquestes media-queries, per aplicar diferents tamanys de lletra */
@media (min-width: 0px) {
  html { font-size: 14px; } 
}
@media (min-width: 576px) {
  /* font-size: 160%; */
  html { font-size: 16px; }
}
@media (min-width: 768px) {
  /* font-size: 180%; */
  html { font-size: 18px; }
}
@media (min-width: 992px) {
  /* font-size: 200%; */
  html { font-size: 20px; }
}
@media (min-width: 1200px) {
  /* font-size: 240%; */
  html { font-size: 24px; }
  
}
@media (max-width: 1100px) {
  #results#results li .btn-outline-info
  {
    margin-bottom: 10px; 
  }
  #results
  {
    padding: 50px 80px;
  }
} 
@media (max-width: 750px) {
  #search-form
  {
    padding: 20px 0;
  }
  #filter
  {
    display:block;
    text-align: center;
    margin: auto;
  }
  .form-group
  {
    /* margin: 0 20px; */
    width: 80%;
    margin: 10px auto;
    display: block;
  }
  #filter h2, #filter button#submit
  {
    display: block;
    margin: 10px auto;
  }
} 
@media (max-width: 600px) {
  #results
  {
    padding: 10px; 
  }
  #results li div
  {
    text-align: center;
  }
  #results#results li .btn-outline-info
  {
    margin: 10px 5px 0;
  }
} 