*
{
  margin:0;
  padding:0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form
{
  padding: 0 20%;
}

.form-group
{
  margin-bottom: 30px;
}
.form-group label
{
  text-align: right;
  padding-top: 10px;
}
.address
{
  padding: 0 0 10px 30%;
}
.address-group
{
  margin-bottom: 10px;
}
.label-address
{
  margin: 20px 0 20px 0;
  font-size: 20px;
  text-align: right;
}

h1
{
  text-align: center;
  padding: 60px 0;
}
button.btn-lg
{
  display: block;
  margin-left: auto;
  margin-top: 100px;
}
/* prova */
#filtreProva input,
#aplicarActivitat input
{
  border: 1px solid gray;
}
#filtreProva button,
#aplicarActivitat button
{
  border: 1px solid gray;
}